.container{
	clear:both;
	overflow:auto;
}

nav{
	float:right;
    margin-right: 150px;
}

ul li{
	display: inline-block; padding:10px;
	font-size:20px; font-family:raleway;
	margin-right: 50px;
}

ul li:hover{
	color:#f1c50e;
	cursor: pointer;
}

.button {
	background-color: #f1c50e;
	border-style: none;
	color: black;
	padding: 13px 23px;
	text-align: center;
	font-size: 19px;
	cursor: pointer;
	border-radius: 12px;
	margin-left: 20px;
	margin-top: 30px;
	width: 180px;
}

.button:hover{
	background-color: black;
	color: white;
}

img{
	display:inline-block;
	float: right; 
	width: 1px;
	height: 1px;
	margin-top: 50px;
	margin-right: 120px;
}

.background{
	background-image: url(../images/bg.jpg);
	min-height: 530px;
	width: 100%;
}

h1{
	font-size: 50px; 
	color: black;
}

p{
	margin-left: 20px;
	font-size: 20px;
}

.div{
	display:inline-block;
	float: left;
	margin-left: 140px;
	margin-top: 50px;
}